{{#if mydata.length}}
  {{#each mydata as |singleData|}}
    <div class="four wide column">

      <div class="ui card">
        <div class="ui slide masked reveal image">
          {{!-- {{#if singleData.images.length}} --}}

          <img src={{singleData.images.0.image_link}} class="visible content" />
          <img src={{singleData.images.1.image_link}} class="hidden content" />

        </div>
        <div class="content">
          <a class="header">{{singleData.recipe_name}}</a>
          <div class="meta">
            <span class="date">Time to cook
              {{singleData.preperation_time}}
              mins</span>
          </div>

          <button
            type="button"
            id={{singleData.id}}
            class="btn1"
            data-toggle="modal"
            data-target="#project-modal"
          >view</button>

          {{{check_userid singleData.user_id singleData.user_id}}}

        </div>
        <div class="extra content">

          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>

        </div>
      </div>

    </div>
  {{/each}}

{{else}}<p>No record found</p>
{{/if}}

<!-- Modal -->
<div
  class="modal fade custom-modal"
  id="project-modal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="project-modal-form"
  aria-hidden="true">

  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="project-modal-form">View Detail.</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form id="project-form">
        <div class="modal-body">

          <div class="ui items">
            <div class="item">
              <div class="image">
                <img id="singleImage"/>
              </div>
              <div class="content">

                {{! recipe Name }}
                <a class="header" id="rName"></a>
                <div class="meta">

                  {{! ingredients}}
                  <span>Ingredients</span>

                  <div id="ingredientslist" class="ui list">

                  </div>

                </div>
                <div class="description">
                  <p></p>
                </div>
                <div class="extra">
                  Steps
                </div>
                <div id="stepslist" class="ui ordered list">

                  </div>
              </div>
            </div>

          </div>

        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-dismiss="modal"
          >Close</button>
          {{! <button type="submit" class="btn custom-btn">Submit Project Info</button> }}
        </div>
      </form>
    </div>
  </div>
</div>
<script src="./js/profile.js"></script>